 * {
   box-sizing: border-box;
   font-family: balboa-plus-fill,sans-serif;
   font-weight: 300;
   font-style: normal;
   letter-spacing: 1px;
   line-height: 1.5;
 }

 body {
   margin: 0;
   padding: 0;
 }
 
 .section {
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
   height: auto;
   width: 100%;
 }

 .one {
   display: none;
 }

 .two {
   width: 30%;
   padding: 0.5rem;
 }

 .two h3 {
   text-align: center;
   font-family: omnes-pro,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
 }

 .two h2 {
   text-align: center;
   font-size: 2.5rem;
 }

 .four h3 {
  text-align: center;
  font-family: omnes-pro,sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 1.5rem;
}


.three {
  width: 80vw;

}

.three img {
  width: 100%;
}

.three embed {
  width: 100%;
  height: 300px;
}

  .header {
  display: flex;
  flex-direction: column;
  /* Remove border on final product  */
  /* border: 0.3rem dotted black; */
  /* background-color: green; */

  }

  .header-elements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #ff9d70;
  }

  .header-elements .logo {
    width: 100px;
    height: 100px;
    margin: 0.5rem;
  }

  .header-elements .logo img {
    width: 100%;
  }

  .header-elements h1 {
    width: 30%;
    text-align: center;
    text-transform: uppercase;
  }

  .header-elements .navbar {
    width: 100%;
    margin: 0 1rem;
  }

  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }

  .navbar ul a {
    text-decoration: none;
    text-transform: uppercase;
    width: calc(100% / 3 - 1rem);
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .head-image {
    background-image: url(https://placeimg.com/1000/450/any);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
  }

  .colorOne {
    background-color: #f2f2f2;
  }

  .colorTwo {
    background-color: #fface3;
  }

  .colorThree {
    background-color: #6efdff;
  }

  .colorFour {
    background-color: #8587ff;
  }

  .headings {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .services {
    background-color: #f2f2f2;
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .button {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
    background-color: #6efdff;
  }

  .signup {
    background-color: #ff9d70;
  }

  form {
    width: 100%;
  }

  fieldset {
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  label {
    text-align: center;
  }

  input[type="text"], textarea {
    width: 48%;
    margin: 0 auto;
    border: none;
    padding: 0.5rem 0;
    border-radius: 5px;
  }

  button {
    width: 30%;
    margin: 0 auto;
    border: none;
    padding: 0.5rem 0;
    font-size: 2rem;
    border-radius: 5px;
  }

  .bottom {
    background-color: #ea6a39;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .bottom .headings {
    width: 50%;
    border-right: 0.5px solid black;
  }

  .bottom .headings h2 {
    font-size: 1.2rem;
  }

  .social {
    width: 50%;
    border-left: 0.5px solid black;
    
  }

  .social ul {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-bottom: 5px;
  }

  @media all and (min-width: 35rem) {
    .header-elements {
      flex-direction: row;
    }

    .header-elements .logo {
      width: 8%;
      height: 120px;
      margin-left: 5rem;
    }

    .header-elements h1 {
      width: 40%;
      font-size: 3rem;
    }



    .navbar ul a {
      width: calc(15% - 1rem);
    }

    .one {
      display: block;
      width: calc(80vw / 3);
    }

    .one img {
      width: 100%;
    }

    .one embed {
      width: 100%;
      height: 300px;
    }
    .section {
      flex-direction: row;
      padding: 1rem 0;
    }

    .three {
      width: calc(80vw / 3);
    }

    .services {
      padding: 1rem 0;
    }

    .buttons {
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-evenly;
      width: 50%;
    }

    fieldset {
      width: 100%;
    }

    fieldset:first-child, fieldset:nth-child(2) {
      width: calc(100% / 2);
      float: left;
      margin: 0;
    }

    .bottom {
      justify-content: center;
    }

  }
